* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden !important;
}

header {
  height: 3.5rem;
  background-color: #1E4A93;
  padding: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
}
header div {
  width: 2rem;
  height: auto;
}
header div img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header p {
  color: #000;
  margin-right: auto;
}
header p span {
  color: white;
}

main {
  padding: 1rem;
  display: flex;
  height: calc(100% - 3rem);
  flex-direction: column;
  position: relative;
}

footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  padding-bottom: 2rem;
  color: #999;
}

section.main-info {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 4px 24px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 0;
}
section.main-info .user-image {
  width: 40%;
  padding: 0 1rem;
}
section.main-info .user-image img {
  background: #000;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
section.main-info .info {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
section.main-info .info > *:not(span, strong) {
  font-size: 0.85rem;
}
section.main-info .details {
  margin-top: 1rem;
  background: transparent;
  border-radius: 1rem;
  border: 1px solid #999;
  height: 2rem;
  font-size: 0.7rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.345rem;
  padding: 0 0.75rem;
}
section.main-info .details div {
  width: 1rem;
  height: 1rem;
}
section.main-info .details div img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.text-green {
  color: rgb(43, 220, 43);
}

.bus-validation {
  font-size: 0.85rem;
  margin: 0.325rem 0;
}

.dots {
  display: flex;
  gap: 0.25rem;
  margin: 2rem auto 2.5rem;
}
.dots > div {
  border-radius: 100%;
  width: 0.5rem;
  height: 0.5rem;
  background: #999;
}
.dots :first-child {
  background: #444;
}

.pannel {
  width: 100%;
  max-height: 120px;
  background: #000;
}
.pannel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.buttons {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: auto;
  padding: 0 1.5rem;
}
.buttons button {
  display: flex;
  background: white;
  border-radius: 1.5rem;
  border: none;
  width: 100%;
  max-height: 120px;
}
.buttons button img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.details-modal {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  border-radius: 1rem 1rem 0 0;
  background: #fff;
  box-shadow: 2px 4px 24px 4px rgba(0, 0, 0, 0.16);
  z-index: 9999;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  max-height: 95%;
  gap: o;
  transition: 0.2s;
}
.details-modal.open {
  bottom: 0;
}
.details-modal img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.details-modal button {
  margin: 2rem 2rem 0;
  font-size: 1.5rem;
  font-weight: 900;
  min-height: 2rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  transform: translateY(1rem);
}
.details-modal button div {
  width: 48px;
  height: 5px;
  border-radius: 4px;
  background: #333;
  transform: rotate(45deg);
}
.details-modal button div:first-child {
  transform: rotate(-45deg);
  margin-bottom: -4px;
}

.card-modal {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  gap: 0;
  min-width: 100dvw;
  max-width: 100dvw;
  min-height: 100dvh;
  max-height: 100dvh;
  background: white;
  z-index: 99999;
  padding: 1rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.card-modal .out {
  display: none;
}
.card-modal.open > .out {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.card-modal.open {
  bottom: 0;
}
.card-modal img {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */